/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,700;1,400;1,600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
}

.profile_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 370px;
    width: 100%;
    background-color: #fff;
    border-radius: 24px;
    padding: 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.profile_card::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 24px 24px 0 0;
    height: 36%;
    width: 100%;
    background-color: #4070f4;
}

.image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #4070f4;
    padding: 3px;
    margin-bottom: 10px;
}

.image .profile_image{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fff;
}


.profile_card .text_data{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
}

.text_data .name{
    font-size: 22px;
    font-weight: 500;
}
    

.text_data .job{
    font-size: 15px;
    font-weight: 400;
}

.profile_card .media_btn{
    display: flex;
    align-items: center;
    margin-top: 15px;

}

.media_btn .link{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    background-color: #4070f4;
    margin: 0px 8px;
    height: 34px;
    width: 34px;
    border-radius: 50%;
}

.profile_card .btns{
        display: flex;
        align-items: center;
        margin-top: 25px;
}

.btns .btn{
    background-color: #4070f4;
    padding: 8px 24px;
    margin: 0px 10px;
    border-radius: 24px;
    border: none;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btns .btn:hover{
    background: #0e4bf1;
}

.profile_card .analytics{
    display: flex;
    align-items: center;
    margin-top: 25px;   
}

.analytics .data{
    display: flex;
    align-items: center;
    color: #333;
    padding: 0px 20px;
    border-right: 2px solid #e7e7e7;
}

.data  i{
    font-size: 18px;
    margin-right: 6px;
}

.data:last-child{
    border-right: none;
}
    
